.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}
#gameContainer{
    font-family: "Permanent Marker",cursive;
    text-align: center;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto) ;
    width: 225px;
    margin: auto;
    /* display: grid;
    grid-template-columns: repeat(3, 50px) ; 3 columns with each cell 50px width and height
    width: 150px; so this should be 3*50 since 3 columns and it is width of whole grid.
    margin: auto;
    border: 2px solid navajowhite;
    */
}
